/** important **/

:root {
    --white-color: #FFFFFF;
    --blue-color: #4d5ae5;
    --header-color:#2e2f42;
    --text-color:#434455;


}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:var(--white-color);
    }

/** LOGO **/

.logo-link {
    font-family: 'Raleway', sans-serif;
    color: var(--blue-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-link link {
    text-decoration: none;
}

.logo-studio-span {
    color:var(--header-color) ;
}   

/** BANER **/

.header-menu list {
    list-style:none;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-color);
}

.header-menu-link link {
    text-decoration:none;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

/** ADRESS **/

.header-contact-menu {
    list-style: none ;
}

.header-contact-link {
    font-size: 16px ;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    color: var(--text-color);

}

.header-contact-link link:hover {
    color: #404bbf ;
}

.header-contact-link link:focus {
    color: #404bbf ;
}

/** 1 СЕКЦИЯ **/

.hero-title {
    background-color: var(--header-color);
}

.hero-title {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--blue-color);
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/** 2 СЕКЦИЯ **/

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--header-color);

}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    }

/** 3 СЕКЦИЯ **/


.process-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--header-color);
}

.process-menu list {
    list-style: none ;
}

/** 4 СЕКЦИЯ **/

.main-section-team {
    background-color: #F4F4FD;
}

.team-menu list {
    list-style: none;
}

.team-menu-item {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:var(--header-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/** фууутер **/

.footer {
    background-color: #2e2f42;

}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--blue-color);
}

.logo-footer link {
    text-decoration: none;
}

.logo-studio-footer span {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
     }


     /** ПОРТФОЛИО **/

     .text-button {
        color:#4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    
    }
    
    .header-photo {
        color: var(--header-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .text-photo {
        color: var(--text-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
