:root {
    --title-color:#2E2F42;
    --text-color:#434455;
    --second-color:#FFFFFF;
    --header-color: #2E2F42;
    --text-color: #434455;
    --logo-color:#4d5ae5;
}



body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: var(--second-color);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-link link {
    text-decoration: none;
}

.first-link {
    color: var(--header-color);
}

.header-menu-link {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link {
    text-decoration:none ;
}

.header-menu-link:hover {
   color:#404bbf ; 
}

.header-link-index:focus {
    color: #404bbf;
}

.header-nav nav {
    list-style: none;
}

.header-contact {
    font-style: normal;
}

.header-contact-item {
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contact-link {
    color: var(--text-color);
}

.header-contact-link:hover {
    color: #404bbf;

}

.header-contact-link:focus {
    color: #;

}

.hero-section {
    color: var(--title-color);
}

.hero-title {
    color: var(--second-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    color: var(--second-color);
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.process-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color:var(--title-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}


.text-button {
    color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

.header-photo {
    color: var(--header-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.text-photo {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

